body{
    background: url("../imgs/fondo.png") no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
    font-size: 1.2em;
}

.unaClaseSinVue {
    font-size: 1.2em;
    padding: 1em;
}

.redClass {
    background: red;
    color: white;
    width: fit-content;
    margin-inline: auto;
    border: 2px solid black;
}

[v-cloak] {
    display: none;
}

.centrado {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

.logo {
    max-height: 10rem;
}

#app {
    max-width: 1280px;
    margin: auto;
}

.contenedor-contenido {
    position: relative;
    
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;

    border-radius: 15px;
    overflow: hidden;
}

body {
    font-family: 'Marcellus';
}


h1, h2, h3 {
    letter-spacing: 0.05em; /*espaciado le da un toque cinemático */
}


.piedra-chismosa {
    max-height: 7rem;
    transform-origin: bottom center;
    user-select: none;

    &.rebotar {
        animation: rebote 0.55s cubic-bezier(0.28, 0.84, 0.42, 1);
    }
}

.pop-overs {
    --bs-popover-bg: #141724;
    --bs-popover-border-color: #d4af37;
    --bs-popover-body-color: #f7f1df;
    --bs-popover-body-padding-x: 1.1rem;
    --bs-popover-body-padding-y: 0.75rem;
    --bs-popover-arrow-border: #d4af37;
}

@keyframes rebote {
    0% {
        transform: scale(1,1);
    }
    20% {
        transform: scale(1.35, 0.65);
    }
    40% {
        transform: scale(0.8, 1.3);
    }
    60% {
        transform: scale(1.15, 0.88);
    }
    80% {
        transform: scale(0.95, 1.05);
    }
    100% {
        transform: scale(1,1);
    }
}