body{
    background: url("../imgs/fondo.png") no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
    font-size: 1.2em;
}

.unaClaseSinVue {
    font-size: 1.2em;
    padding: 1em;
}

.redClass {
    background: red;
    color: white;
    width: fit-content;
    margin-inline: auto;
    border: 2px solid black;
}

[v-cloak] {
    display: none;
}

.centrado {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

.logo {
    max-height: 10rem;
}

#app {
    max-width: 1280px;
    margin: auto;
}

.contenedor-contenido {
    position: relative;
    
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;

    border-radius: 15px;
    overflow: hidden;
}

